@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Namdhinggo:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme{
  --font-playfair: "Playfair";
  --font-archivo: "Archivo";
  --font-namdhingo: "Namdhingoo";
}

@utility navItems{
  font-weight: 700;
  color: #000000;
  transition: color 0.3s ease;
  cursor: pointer;

    &:hover {
    color: #4b5563;
  }
}
